.App {
  background-color: #e0e0e0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: center;
}

.App h1 {
  color: #ba143e;
  font-family: "Anton", serif;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.App p,
.App ul,
.App label,
.App input {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  text-align: left;
}

.App button {
  background-color: #ba143e;
  border: 3px solid #ba143e;
  border-radius: 5px;
  color: #f8f9fa;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin: 10px;
  text-align: center;
}

.App button:hover {
  background-color: #f8f9fa;
  color: #ba143e;
}

.App a {
  text-decoration: none;
}
