.Counter {
  background-color: #d8eaf9;
  text-align: center;
}

.Counter input {
  border: 1px solid black;
  border-radius: 5px;
  display: block;
  margin: 10px auto;
  padding: 3px;
}

.Counter p {
  text-align: center;
}

.Counter .jumping-man {
  height: 100px;
}

.Counter .color-fade-top,
.color-fade-bottom {
  height: 100px;
}

.Counter .color-fade-top {
  background-image: linear-gradient(#e0e0e0, #d8eaf9);
}

.Counter .color-fade-bottom {
  background-image: linear-gradient(#d8eaf9, #e0e0e0);
}
