.Display .checkbox-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  margin-bottom: 40px;
}

.Display input[type="checkbox"] {
  margin-right: 10px;
}

.Display .checkbox-image-button {
  text-align: center;
}

.Display .reading {
  width: 100%;
  max-width: 200px;
}

.Display .checkbox-container {
  grid-template-columns: 1fr;
}
