.Display .checkbox-container {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  margin-bottom: 40px;
}

.Display .checklist {
  font-size: 20px;
}

.Display .checklist label {
  font-size: 20px;
}

.Display input[type="checkbox"] {
  margin-right: 10px;
}

.Display .checkbox-image-button {
  text-align: center;
}

.Display .reading {
  width: 100%;
  max-width: 200px;
}

@media (max-width: 700px) {
  .Display .checkbox-container {
    grid-template-columns: 1fr;
  }
}
