.Footer {
  background-color: #ba143e;
  padding: 20px;
}

.Footer p {
  color: #e0e0e0;
  font-family: "Anton", serif;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 15px;
}

.Footer a {
  color: #e0e0e0;
  text-decoration: underline;
}
