.Introduction {
  margin: 0 auto;
  padding: 20px 50px;
  width: 80%;
}

.Introduction ul {
  list-style: none;
}

.Introduction .warning {
  background-color: #38598b;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  color: #f8f9fa;
  padding: 10px;
}

.Introduction .sad-lady {
  width: 100%;
}

.Introduction .questions-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

@media (max-width: 400px) {
  .Introduction {
    padding: 20px;
    width: 100%;
  }
  .Introduction .questions-container {
    grid-template-columns: 1fr;
  }
}
