.Resources {
  margin: 0 auto;
  padding: 20px 50px;
  width: 80%;
}

.Resources .resource-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.Resources .resource-card {
  background-color: #f8f9fa;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 200px;
}

.Resources .resource-card .category {
  background-color: #d8eaf9;
  border-radius: 20px 20px 0 0;
  padding: 10px 0;
  text-align: center;
}

.Resources .resource-card .title {
  font-weight: 700;
  padding: 5px;
  text-align: center;
}

.Resources .resource-card .secondary_information {
  text-align: center;
}

.Resources .resource-card img {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  margin: 0 auto;
  width: 60%;
}

.Resources .resource-card .description {
  font-size: 12px;
  margin-top: 20px;
  padding: 5px;
  text-align: center;
}

.Resources .resource-button {
  color: white;
  margin-bottom: 20px;
}

.Resources .resource-button:hover {
  color: #ba143e;
}

.Resources .disclosure {
  background-color: #38598b;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  color: #f8f9fa;
  margin: 20px auto;
  padding: 15px;
}

@media (max-width: 700px) {
  .Resources {
    padding: 20px;
    width: 100%;
  }
}
